mixin post(imagePath)
    .post
        .post-header
            .user-info
                img(src="/img/users/default-user.png", alt="")
                p.name Elrayes | فِلَسْطِين 🇵🇸🔻
                p.username @abdelrahman
            .post-settings 
                i.fa-solid.fa-ellipsis
        .post-content 
            p.post-writing-content If you're looking for a complete tour of mathematical physics, Sadri Hassani's 1200 pages book on the subject got you covered, from the basics of linear algebra and vector spaces to Fibre bundles and connections.Come and get it, it's free as a pdf, link in the comments.If you're looking for a complete tour of mathematical physics, Sadri Hassani's 1200 pages book on the subject got you covered, from the basics of linear algebra and vector spaces to Fibre bundles and connections.Come and get it, it's free as a pdf, link in the comments.If you're looking for a complete tour of mathematical physics, Sadri Hassani's 1200 pages book on the subject got you covered, from the basics of linear algebra and vector spaces to Fibre bundles and connections.Come and get it, it's free as a pdf, link in the comments.If you're looking for a complete tour of mathematical physics,If you're looking for a complete tour of mathematical physics, Sadri Hassani's 1200 pages book on the subject got you covered, from the basics of linear algebra and vector spaces to Fibre bundles and connections.Come and get it, it's free as a pdf, link in the comments.If you're looking for a complete tour of mathematical physics, Sadri Hassani's 1200 pages book on the subject got you covered, from the basics of linear algebra and vector spaces to Fibre bundles and connections.Come and get it, it's free as a pdf, link in the comments.If you're looking for a complete tour of mathematical physics, Sadri Hassani's 1200 pages book on the subject got you covered, from the basics of linear algebra and vector spaces to Fibre bundles and connections.Come and get it, it's free as a pdf, link in the comments.If you're looking for a complete tour of mathematical physics,If you're looking for a complete tour of mathematical physics, Sadri Hassani's 1200 pages book on the subject got you covered, from the basics of linear algebra and vector spaces to Fibre bundles and connections.Come and get it, it's free as a pdf, link in the comments.If you're looking for a complete tour of mathematical physics, Sadri Hassani's 1200 pages book on the subject got you covered, from the basics of linear algebra and vector spaces to Fibre bundles and connections.Come and get it, it's free as a pdf, link in the comments.If you're looking for a complete tour of mathematical physics, Sadri Hassani's 1200 pages book on the subject got you covered, from the basics of linear algebra and vector spaces to Fibre bundles and connections.Come and get it, it's free as a pdf, link in the comments.If you're looking for a complete tour of mathematical physics,
            a.show-post-content-btn Show More
            .post-media 
                img(src="/img/users/toji-register.jpg", alt="")
        .post-footer
            .heart-replies
                .icon-content.heart-icon-content
                    i.fa-light.fa-heart.icon.heart-icon
                    span 125
                .icon-content.reply-icon-content
                    i.fa-light.fa-comment.icon.reply-icon
                    span 300
            .icons-date
                p.date Oct 29, 09:17AM
                .icon-content.bookmark-icon-content
                    i.fa-light.fa-bookmark.icon.bookmark-icon
                .icon-content.retweet-icon-content
                    i.fa-light.fa-retweet.icon.retweet-icon
                    span 1.3k
                .icon-content.share-icon-content
                                        i.fa-light.fa-share.icon.share-icon