extends home
include _tweet.pug

block middle-container
    - let bookmarksTweets = currentUserBookmarks.map((bookmark)=> bookmark.tweet)
    each tweet in bookmarksTweets 
        +tweet(tweet,currentUserLikedTweets,"bookmark")