doctype html
html(lang="en") 
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/home.css")
        link(rel="icon", href="/img/logo/squareWhiteL.png")
        title LitLink | #{title}
    body
        .container 
            .left-container
                .left-container-content
                    .nav-logo 
                        img(src="/img/logo/logo-w.png", alt="LitLink Logo")
                    nav 
                    .nav-post
                    .nav-account
            block content
                .middle-right-containers
                    .middle-right-containers-nav
                        .communities-section 
                        .search-field
                            .input-content 
                                img(src="/img/icons/Search.svg", alt="")
                                input.search-input(type="text" placeholder="Search")
                    .middle-container 
                        .square-dev 
                        .square-dev                                        
                        .square-dev                    
                        .square-dev                    
                        .square-dev                    
                        .square-dev                    
                        .square-dev                    
                        .square-dev                    
                        .square-dev                    
                        .square-dev                    
                        .square-dev                    
                        .square-dev                    
                        .square-dev                    
                        .square-dev                    
                        .square-dev                    
                        .square-dev                                        
                        .square-dev   
                        .square-dev 
                        .square-dev 
                        .square-dev 
                        .square-dev 
                        .square-dev 
                        .square-dev 
                        .square-dev 
                        .square-dev 
                        .square-dev 
                    .right-container
    