@charset "UTF-8";
@font-face {
  font-family: elmessiri;
  src: url("/fonts/ElMessiri-Regular.ttf");
}
@font-face {
  font-family: gilroy;
  src: url("/fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: arabHebah;
  src: url("/fonts/hebah.ttf");
}
@font-face {
  font-family: shardee;
  src: url("/fonts/Shardee.ttf");
}
* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: gilroy;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

input {
  font-family: gilroy;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  color: #423b89;
  padding: 0 1rem;
}

button {
  height: 2.5rem;
  border: none;
  background: #423b89;
  color: #f5f5f5;
  font-size: 1rem;
  border-radius: 0.4rem;
}

.hide {
  display: none;
}

.move-right {
  transform: translateX(150%);
}

.move-left {
  transform: translateX(-150%);
}

#loader-container {
  background: #423b88;
  width: fit-content;
  padding: 1rem;
  border-radius: 0.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.6s;
  opacity: 0;
}

.custom-loader {
  width: 25px;
  height: 25px;
  display: grid;
  animation: s4 4s infinite;
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  border: 4px solid;
  border-radius: 50%;
  border-color: rgba(66, 59, 137, 0.4235294118) rgba(66, 59, 137, 0.2823529412) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}

.custom-loader::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f5f5f5 #f5f5f5;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 70% 30%;
  overflow: hidden;
  position: relative;
}
.container .overlay {
  position: absolute;
  background: rgba(245, 245, 245, 0.8901960784);
  height: 100vh;
  width: 100%;
  display: none;
  place-items: center;
}
.container .overlay h1 {
  font-family: elmessiri;
  font-size: 2rem;
  color: #423b89;
  font-weight: 400;
}
.container .overlay input {
  height: 50px;
  width: 70%;
}
.container .overlay p {
  color: #374151;
  margin-top: 1.5rem;
}
.container .overlay p a {
  color: #423b89;
  margin-left: 1rem;
}
.container .overlay .input-content {
  align-items: center;
  display: flex;
  background-color: rgba(67, 56, 120, 0.3215686275);
  margin-bottom: 1rem;
  padding: 0 1rem;
  border-radius: 0.4rem;
}
.container .overlay .input-content .view-password-icon,
.container .overlay .input-content .edit-password-icon {
  margin-left: 0.5rem;
  cursor: pointer;
}
.container .overlay .input-content .edit-password-icon {
  margin-left: 2rem;
}
.container .overlay .input-content img {
  width: 20px;
  height: 20px;
}
.container .overlay .input-content .birthdate-input {
  padding: 0;
  width: 27.5rem;
}
.container .overlay .signup-form {
  display: flex;
  flex-direction: column;
  transition: 0.6s;
  background: #f5f5f5;
  width: 30rem;
  border-radius: 0.25rem;
  padding: 3rem;
}
.container .overlay .signup-form .logo {
  height: 50px;
  width: 50px;
}
.container .overlay .signup-form .username-name {
  display: flex;
}
.container .overlay .signup-form .username-name .input-content:nth-child(2) {
  margin-left: 1rem;
}
.container .overlay .signup-form .username-name .input-content {
  padding-right: 0.3rem;
}
.container .overlay .signup-form .username-name .username-input,
.container .overlay .signup-form .username-name .name-input {
  width: 100%;
}
.container .overlay .signup-form .view-password-icon {
  margin-left: 3.5rem;
}
.container .overlay .signup-form .signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .overlay .signup-form .phone-input-content {
  padding: 0;
  padding-right: 1rem;
}
.container .overlay .signup-form .custom-select {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  width: fit-content;
  margin-right: 5px;
}
.container .overlay .signup-form .custom-select .phone-input {
  width: 16.8rem;
}
.container .overlay .signup-form .custom-select .selected-flag {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  padding: 10px;
  height: 1.7rem;
  background: #f5f5f5;
  width: 35px;
  transition: border 0.3s;
  display: grid;
  place-items: center;
}
.container .overlay .signup-form .custom-select .selected-flag:focus {
  border: 1px solid #423b89;
  outline: none;
}
.container .overlay .signup-form .custom-select .flag-dropdown {
  display: block;
  height: 20rem;
  overflow-y: scroll;
  display: none;
  position: absolute;
  background: #ffffff;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  z-index: 1;
  width: 20rem;
}
.container .overlay .signup-form .custom-select .flag-option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.container .overlay .signup-form .custom-select .flag-option:hover {
  background: #d1ecf1;
}
.container .overlay .signup-form #birthdate-input-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  column-gap: 0.5rem;
  background-color: transparent;
}
.container .overlay .signup-form #birthdate-input-content select {
  font-family: gilroy;
  padding: 8px;
  height: 2.8rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  background-color: rgba(67, 56, 120, 0.3215686275);
  color: #423b89;
}
.container .overlay .message {
  color: #f84a64;
}
.container .overlay #signup-message {
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.container .overlay .photo-title {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.container .overlay .photo-title h1 {
  line-height: 45px;
  font-size: 2.5rem;
  padding-right: 2rem;
}
.container .overlay .photo-title .title-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container .overlay .photo-title .title-description p {
  margin: 0;
}
.container .overlay .avatar-upload {
  position: relative;
  max-width: 205px;
}
.container .overlay .avatar-upload .avatar-edit {
  position: absolute;
  right: -6px;
  z-index: 1;
  top: -4px;
}
.container .overlay .avatar-upload .avatar-edit input {
  display: none;
}
.container .overlay .avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 0.25rem;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.container .overlay .avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.container .overlay .avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.container .overlay .avatar-upload .avatar-preview {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 0.25rem;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.container .overlay .avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container .overlay .overlay-container {
  display: flex;
  position: relative;
  width: 36rem;
  height: 60rem;
  overflow: hidden;
}
.container .overlay .overlay-container .signup-form,
.container .overlay .overlay-container .verification-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.6s;
}
.container .overlay .overlay-container .signup-form {
  transform: translate(-50%, -50%);
}
.container .overlay .verification-container {
  background-color: #f5f5f5;
  padding: 3rem;
  border-radius: 0.25rem;
  transform: translate(150%, -50%);
}
.container .overlay .verification-container button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .overlay .verification-container h2,
.container .overlay .verification-container p {
  color: #423b89;
}
.container .overlay .verification-container p {
  margin-top: 0.5rem;
}
.container .overlay .verification-container .logo {
  width: 50px;
  height: 50px;
  margin-bottom: 2rem;
}
.container .overlay .verification-container .code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
.container .overlay .verification-container #signup-message {
  color: #f84a64;
  margin-top: 1rem;
}
.container .overlay .verification-container .code {
  border-radius: 0.25rem;
  font-size: 20px;
  height: 53px;
  width: 25px;
  border: 1px solid #eee;
  outline-width: thin;
  outline-color: #ddd;
  margin: 1%;
  text-align: center;
  font-weight: 300;
  margin-left: 10px;
}
.container .overlay .verification-container .code::-webkit-outer-spin-button,
.container .overlay .verification-container .code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .overlay .verification-container .code:valid {
  border-color: #423b89;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.container .overlay .verification-container .info {
  background-color: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .container .overlay .verification-container .code-container {
    flex-wrap: wrap;
  }
  .container .overlay .verification-container .code {
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}

.left-container {
  height: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
}
.left-container .left-img {
  position: relative;
  display: flex;
  align-items: center;
}
.left-container .left-img img {
  margin-left: 0.85rem;
  height: 97vh;
  border-top-right-radius: 4.5rem;
  border-bottom-left-radius: 4.5rem;
}
.left-container .left-img .l-logo {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 4rem;
  height: 5rem;
  border-radius: 0;
}
.left-container .left-img .quotes {
  position: absolute;
  bottom: 8rem;
  color: #f5f5f5;
  display: flex;
  padding: 0 6rem;
  font-size: 1.5rem;
  width: 68rem;
  height: 30rem;
  left: 1rem;
  overflow: hidden;
}
.left-container .left-img .quotes .quote {
  position: absolute;
  width: 72rem;
  bottom: 0rem;
  transition: 0.6s;
  font-family: shardee, arabHebah;
}
.left-container .left-img .quotes .quote .author {
  color: #423b89;
}
.left-container .left-img .quotes .quote .author span {
  color: #f5f5f5;
  font-size: 1.5rem;
}
.left-container .left-img .quotes .quote::before {
  content: "“";
}
.left-container .left-img .quotes .quote::after {
  content: "”";
}
.left-container .left-img .quotes .english-quote {
  font-size: 2.4rem;
  line-height: 40px;
  letter-spacing: 1.1px;
}
.left-container .left-img .quotes .arabic-quote {
  direction: rtl;
  font-size: 2.4rem;
}
.left-container .left-img .quotes .arabic-quote p {
  font-family: arabHebah;
}
.left-container .left-img .quotes .arabic-quote .author {
  font-size: 2rem;
}
.left-container .left-img .quotes .author {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.left-container .left-img .quotes .author span {
  font-size: 1rem;
}
.left-container .left-img .quotes .translate-content {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.left-container .left-img .quotes .translate-content .translate-word {
  font-size: 1.5rem;
  text-decoration: underline;
  transition: 0.6s;
}
.left-container .left-img .move-arrows {
  position: absolute;
  bottom: 4rem;
  left: 8rem;
  color: #f5f5f5;
  font-size: 1rem;
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.left-container .left-img .move-arrows a {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.left-container .left-img .move-arrows img {
  width: 30px;
  height: 30px;
  margin: 0;
}

.right-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.right-container h1 {
  font-family: elmessiri;
  font-size: 5rem;
  color: #423b89;
}
.right-container input {
  height: 50px;
  width: 65%;
  background-color: transparent;
  color: #423b89;
  padding: 0 1rem;
}
.right-container p {
  color: #374151;
  margin-top: 1.5rem;
}
.right-container p a {
  color: #423b89;
  margin-left: 1rem;
}
.right-container .left-content {
  width: 85%;
}
.right-container .forms {
  height: 45rem;
  position: relative;
  overflow: hidden;
}
.right-container .login-form,
.right-container .signup-form {
  flex-direction: column;
  display: flex;
  position: absolute;
  width: 100%;
  transition: 0.6s;
}
.right-container .input-content {
  align-items: center;
  display: flex;
  background-color: rgba(67, 56, 120, 0.3215686275);
  margin-bottom: 1rem;
  padding: 0 1rem;
  border-radius: 0.4rem;
}
.right-container .input-content .view-password-icon,
.right-container .input-content .edit-password-icon {
  margin-left: 0.5rem;
  cursor: pointer;
}
.right-container .input-content .edit-password-icon {
  margin-left: 2rem;
}
.right-container .input-content img {
  width: 20px;
  height: 20px;
}
.right-container .input-content .birthdate-input {
  padding: 0;
  width: 24rem;
}
.right-container .signup-form .username-name {
  display: flex;
}
.right-container .signup-form .username-name .input-content:nth-child(2) {
  margin-left: 1rem;
}
.right-container .signup-form .username-name .input-content {
  padding-right: 0.25rem;
}
.right-container .signup-form .username-name .input-content input {
  padding-right: 0.25rem;
}
.right-container .signup-form .username-name .username-input,
.right-container .signup-form .username-name .name-input {
  width: 100%;
}
.right-container .signup-form .view-password-icon {
  margin-left: 3.5rem;
}
.right-container .oauth-forms {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.right-container .oauth-forms .apple-content {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  border-left: 1px solid #cacaca;
}
.right-container .oauth-forms .apple-content p {
  font-size: 0.7rem;
}
.right-container .oauth-btn {
  margin-bottom: 1rem;
  background-color: transparent;
  color: #374151;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.right-container .oauth-btn i {
  font-size: 1.5rem;
}
.right-container .apple-login-btn {
  display: flex;
  width: 7rem;
}
.right-container .apple-login-btn p {
  margin-top: 0;
  margin-left: 1rem;
}
.right-container .login-btn {
  margin-top: 1rem;
}
.right-container .forget-password-btn {
  background-color: transparent;
  border: 1px solid #374151;
  color: #374151;
  margin-top: 1rem;
}
.right-container .message {
  color: #f84a64;
}
.right-container #signup-message {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
